@model Folio1_App_Test.Models.tbl_Classes

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tbl_Classes</legend>
    <div class="display-label">
         Class Name     : @Html.DisplayFor(model => model.Name)
    </div>
 
    <div class="display-label">
         Location       : @Html.DisplayFor(model => model.Location)
    </div>
    <div class="display-label">
         Teacher Name   : @Html.DisplayFor(model => model.TeacherName)
    
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
