@model Folio1_App_Test.Models.tbl_Students

@{
    ViewBag.Title = "Create";
    
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tbl_Students</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.ClassId, "Class Name")
        </div>
        <div class="editor-field" >
            @ViewBag.ClassName
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SurName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SurName)
            @Html.ValidationMessageFor(model => model.SurName)
            @Html.Va
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Age)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Age)
            @Html.ValidationMessageFor(model => model.Age)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GPA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GPA)
            @Html.ValidationMessageFor(model => model.GPA)
        </div>

        <p>
            <input type="hidden", value ="@ViewBag.ClassId" name="ClassId" />
            <input type="submit" value="StudentCreate"  />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
