@model Folio1_App_Test.Models.tbl_Students

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbl_Students</legend>

    <div class="display-label">
         Class Name    : @Html.DisplayFor(model => model.tbl_Classes.Name)
    </div>
     <div class="display-label">
         Student Name  :  @Html.DisplayFor(model => model.Name)
    </div>
     <div class="display-label">
         SurName  :  @Html.DisplayFor(model => model.SurName)
    </div>
  
      <div class="display-label">
         Age           : @Html.DisplayFor(model => model.Age)
    </div>
    <div class="display-label">
         GPA           :  @Html.DisplayFor(model => model.GPA)
    </div>
  </fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
